body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: rgb(247, 232, 209);
    color: rgb(56, 56, 56);
}

.title {
    /*margin: auto;
    width: max-content;*/
    margin-top: 60px;
    padding: 10px;
    font-size: 72px;
    border: 1px solid red;
}

.question {
    /*margin: 60px;*/
    margin-top: 60px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid green;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

textarea {
    margin-top: 30px;
    width: 50%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px rgb(248, 239, 226);
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in width */
    resize: vertical; /* Allow resizing only vertically */
    margin-bottom: 10px;
    background-color: rgb(248, 239, 226);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(248, 239, 226);
    transition: background-color 0.3s;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(56, 56, 56);
}

button:hover {
    background-color: rgb(247, 232, 209);
}