body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(247, 232, 209);
    color: rgb(56, 56, 56);
}

.titleLine {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.title {
    padding-top: 10px;
    font-size: 72px;
}

.menu-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(56, 56, 56);
    margin: 6px;
    transition: 0.4s;
}

/*these turn the menu icon bars into the X icon after its clicked*/
.change .bar1 {transform: rotate(-45deg) translate(-9px, 6px);} 
.change .bar2 {opacity: 0;}
.change .bar3 {transform: rotate(45deg) translate(-8px, -8px);}

.answersAndResponses {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: rgb(248, 239, 226);
    border: 1px rgb(248, 239, 226);
    border-radius: 5px;
}

.menuQuestionLine {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

/*hide menu by defulat until the .show class is added to it*/
#menu {display: none;}
/*need to add some tyleize to this one*/
#menu.show {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1000;
    background-color: rgb(248, 239, 226);
    border: none;
    border-radius: 5px;
}

#profileInfo{
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    background-color: rgb(248, 239, 226);
    border: none;
    border-radius: 5px;
}

#badges {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}

#badges img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#userInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    padding-top: 10px;
}

#userNameDisplayed {
    grid-column: 1;
    grid-row: 1;
}

#realNameStored {
    grid-column: 1;
    grid-row: 2;
}
#joinDate {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 5px;
}

#userBio {
    grid-column: 2;
    grid-row: 1 / span 3;
}


.friendsList {
    grid-column: 3;
    grid-row: 1 / span 2;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.showFriendsList {
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.friendsListContent {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin-left: 20px;
    margin-top: 45px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    min-width: 200px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

#questions {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;
    background-color: rgb(248, 239, 226);
    border: none;
    border-radius: 5px;
}

#questionsExplanation {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: center;
}

#questionRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

#userQuestion {
    grid-column: span 2;
    background-color: rgb(247, 247, 247);
    color: rgb(56, 56, 56);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#submitQuestion {
    grid-column: 3;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#submitQuestion:hover {background-color: rgb(248, 239, 226);}

#submittedQuestions {
    grid-column: 4 / span 2;
    position: relative;
    display: flex;
    flex-direction: column;
}

#showSubmittedQuestions {
    background-color: rgb(247, 247, 247);
    color: rgb(56, 56, 56);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    height: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#submittedQuestionsContent {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin-left: 20px;
    margin-top: 45px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    min-width: 200px;
    max-height: 300px;
    overflow-y: auto;
}

.devCredit {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}