.question {
    margin-top: 40px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: margin-left 0.3s ease-in-out;
    /*border: 1px solid yellow;*/
}

.responsePopUp {
    display: none;
    position: fixed;
    z-index: 500;
    left: 50%;
    top: 55%;
    width: 55vh;
    height: 70vh;
    /*border: 1px solid rgb(56, 56, 56);*/
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 232, 209);
    transform: translate(-50%, -50%);
}

.popupContent {
    background-color: rgb(248, 239, 226);
    margin: 3%;
    /*border: 1px solid rgb(56, 56, 56);*/
    border: none;
    border-radius: 5px; 
}

.show-popup {display: block;}

#signIn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(248, 239, 226);
    transition: background-color 0.3s;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(56, 56, 56);
}

#signIn:hover {background-color: rgb(247, 232, 209);}

#signIn.move {margin-top: 71vh;}

#signInPopUp {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 30%;
    width: 25vh;
    height: 20vh;
    border: none;
    border-radius: 5px;
    background-color: rgb(248, 239, 226);
    transform: translate(-50%, -50%);
}

#signInPopUp.show {display: block;}

#emailUser {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid rgb(248, 239, 226);
}

#emailUserPassword {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid rgb(248, 239, 226);
}

#signInSubmit {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    transition: background-color 0.3s;
    color: rgb(56, 56, 56);
}

#signInSubmit:hover {background-color: rgb(248, 239, 226);}

#createAccount {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    transition: background-color 0.3s;
    color: rgb(56, 56, 56);
}

#createAccount:hover {background-color: rgb(248, 239, 226);}

#createAccountPopUp {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 30%;
    width: 25vh;
    height: 20vh;
    border: none;
    border-radius: 5px;
    background-color: rgb(248, 239, 226);
    transform: translate(-50%, -50%);
}

#createAccountPopUp.show {display: block;}

#newUser {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid rgb(248, 239, 226);
}

#newUserPassword {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid rgb(248, 239, 226);
}

#createAccountSubmit {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    transition: background-color 0.3s;
    color: rgb(56, 56, 56);
}