#profileInfo{
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    background-color: rgb(248, 239, 226);
    border: none;
    border-radius: 5px;
}
#badges {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}
#badges img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#userInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    padding-top: 10px;
}
#userNameDisplayed {
    grid-column: 1;
    grid-row: 1;
}
#realNameStored {
    grid-column: 1;
    grid-row: 2;
}
#joinDate {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 5px;
}

#userBio {
    grid-column: 2;
    grid-row: 1 / span 3;
}

.friendsList {
    grid-column: 3;
    grid-row: 1 / span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.showFriendsList {
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.friendsListContent {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 10px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

#pinnedAnswers {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    height: 60vh;
    padding: 10px 10px 5px 10px;
    background-color: rgb(248, 239, 226);
    overflow-y: auto;
    text-align: left;
}
#pinnedAnswers img {
    width: 20px;
    height: 20px;
}
#pinAndFriend {
    display: inline-block;
    max-height: 50px;
    width: 99%;
}
#addFriend {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 30px;
    float: right;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#addFriend.hide {display: none;}
#removeFriend {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 30px;
    float: right;
    right: 100%;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#removeFriend.show {display: inline-block;}
#pins {
    display: block;
}
#pinnedOne, #pinnedTwo, #pinnedThree {
    display: none;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    text-align: center;
}